//define the sizes of each section
.background:nth-child(1),.background:nth-child(3){
    height: 90vh;
}
.background:nth-child(2){
    height: 100vh;
}
.background:nth-child(4){
    height: 60vh;
}

//video for the first section
.background:nth-child(1){
    video{
        width: 100%;
        height: 100%;
        object-fit: fill;
    }
}
//second section has an image in it
.background:nth-child(2){
    @include center;
    align-items: flex-end;
    .sub_background{
        height: 50%;
        width: 100%;
        background-image: url(../media/backgrounds/beans-coffee-morning-espresso-9186.jpg);
        background-position: center;

        //this flex is just to position the second background into the needed position
        @include center;
        align-items: flex-end;
        .sub_background2{
            width: 80%;
            height: 25%;
            background-color: $bg_color;
        }
    }
}
//third background is just a solid color
.background:nth-child(3){
    background-color: $bg_color;
}