.coffee_types{
    grid-area: coffee_types;

    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: row;
    align-items: flex-start;

    position: relative;
    img{
        width: 25%;
        height: 100%;
    }
    .search_bar{
        position: absolute;
        height: 13%;
        width: 25%;
        top: -13%;
        background-color: $txt;

        @include center;
        justify-content: space-around;

        cursor: pointer;

        p{
            text-transform: uppercase;
            color: white;
        }
    }
    .share_btn{
        position: absolute;

        height: 13%;
        width:3.5%;
        background-color: $txt;

        top: -13%;
        right: 9.5%;

        @include center;

        cursor: pointer;
    }
}