//All css gets compiled here
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scrollbar-width: none;
}

@import 'mixins';
@import 'colors';
@import 'backgrounds';
@import 'grid_main';
@import "nav"